body {
    background-color: #000000;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
  }

h1{
  font-size: 42px;
font-family: sans-serif;
color: #33ccff;
text-align: center;
}

.lightbox-gallery a{
  text-decoration: none;
}

.lightbox-gallery img{
  border: 4px solid black;
  padding: 10px;
}

.lightbox-gallery img:hover{
}

footer{
  color: #fff;
}
